.dl-horizontal {
    text-align: left;
    display: inline-block;
    width: 40%;
}
dd {
    position: relative;
    margin-left: 0px;
    max-width: 100%;
    width: 100%;
    display: block;
    clear: both;
}
dt {
    display: block;
    clear: both;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.ticketHeader, h2.detailHeader {
    display:inline-block;
    position: relative;
    width: 100%;
    height: auto;
    color: white;
    padding: 30px;
}

.ticketHeader .L1, .detailHeader .L1 {
    font-weight: bold;
    font-size: 27px;
}

.ticketHistory, .ticketKeywords {
    display:inline-block;
    width: 50%;
    float: right;
    margin-top: 20px;
    text-align: center;
    max-height: 500px;
 }

.ticketHistory p {
    margin-bottom: 5px;
    margin-top: 5px;
}

.history_entry {
    display: inline-block;
    border-radius: 5px;
    background-color: rgba(255,50,0,0.7);
    color: white;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    width: 98%;
    line-height: 120%;
}

.history_title {
    font-size: 18px;
    font-weight: bold;
}

.btn_edit {
    background-color: darkseagreen;
}