#linkContainer {
    display:inline-block;
    width: 100%;
}

.mainLink {
    display: inline-block;
    float: left;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: 50% 0%;
    font-size: 56px;
    font-weight: 800;
    color: black;
    text-align: center;
    box-sizing:border-box;
    padding: 10px;
    padding-top: 15px;
    -webkit-text-stroke: 1px white;
    border-radius: 5px;
}

.mainLink.ticket {
    background-image: url(../Resources/Images/tickets.jpg);
}

.mainLink.knowledge {
    background-image: url(../Resources/Images/Knowledge.jpg);
    color: white;
    -webkit-text-stroke: 1px black;
}

.mainLink.contact {
    background-image: url(../Resources/Images/Contact.jpg);
    padding-top: 60px;
}

.mainLink.users {
    background-image: url(../Resources/Images/users.jpg);
}

.mainLink.assets {
    background-image: url(../Resources/Images/assets.jpg);
}

#linkContainer a {
    display: inline-block;
    width: 29%;
    box-sizing: border-box;
    padding: 0px;
    border-radius: 5px;
    padding: 10px;
    margin: 2%;
}

#hidden:hover {
    background: transparent;
}

h4 {
    text-align: center;
}