#linkContainer {
    display:inline-block;
    width: 100%;
}

.mainLink {
    display: table;
    float: left;
    width: 100%;
    background-size: cover;
    background-position: 50% 0%;
    font-size: 56px;
    color: black;
    text-align: center;
    box-sizing:border-box;
    padding: 10px;
    padding-top: 15px;
    border-radius: 5px;
    font-weight: normal;
    height: 300px;
}

.mainLink.ticket {
    background-image: url(../Resources/Images/tickets.jpg);
}

.mainLink.knowledge {
    background-image: url(../Resources/Images/Knowledge.jpg);
    color: white;
}

.mainLink.contact {
    background-image: url(../Resources/Images/Contact.jpg);
}

.mainLink.users {
    background-image: url(../Resources/Images/users.jpg);
}

.mainLink.assets {
    background-image: url(../Resources/Images/assets.jpg);
}

#linkContainer a {
    display: table;
    height: auto;
    width: 29%;
    box-sizing: border-box;
    padding: 0px;
    border-radius: 5px;
    padding: 10px;
    margin: 2%;
    float: left;
}

.mainLink p {
    display: table-cell;
    vertical-align: middle;
    border-radius: 5px;
    background: rgba(255,255,255, 0.7);
    margin: auto auto;
   max-height: 201px;
}

.mainLink.knowledge p {
    background: rgba(1,1,1,0.5);
}

#hidden:hover {
    background: transparent;
}

h4 {
    text-align: center;
}