a.btn {
        min-width: 50px;
        min-height: 25px;
        max-height: 25px;
        color: white;
        border: none;
        margin: 5px;
        padding: 7px;
        padding-bottom: 5px;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
    }

.btn_delete {
    background-color: red;
}

.btn_details {
    background-color: green;
}

.btn_create {
    background-color: blue;
}

.table tr {
    background-color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

.table th {
    text-align: center;
}

.table .end_row {
    padding-right: 0px;
    margin-right: 0px;
    min-width: 150px;
}

.table td {
    padding-right: 0px;
}

table.table {
    padding-left: 20px;
    min-width: 100%;
}

