@{
    ViewBag.Title = "Contact";
}
<style>
    header h3 {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 25px !important;
    }
    .contact {
        text-align: center;
    }
</style>



<section class="contact">
    <header>
        <h2>Contact The IT Team</h2>
        <h3>Adam Postgate - M2095821 - Teesside University - Computer Science BSc</h3>
    </header>
    <p>
        <h4 class="label">Phone</h4>
        <span><a class="btn btn_back">07909825495</a></span>
    </p>
    <p>
        <h4 class="label">Email</h4>
        <span><a class="btn btn_back" href="mailto:m2095821@live.tees.ac.uk?subject=FYP Enquiry">M2095821@live.tees.ac.uk</a></span>
    </p>
</section>